.modal {
  width: 100%;
  height: 100dvh;
  margin: auto;
  position: fixed;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  display: none;
  left: 0;
  color: #ffffff;
}
.modal .exit {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #e9df22;
  background-color: #000000;
  z-index: 400;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.modal .exit i {
  color: #e9df22;
  font-size: 1rem;
}
.modal .exit:hover {
  background-color: rgba(0, 0, 0, 0.6666666667);
}
.modal figure {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.modal figure img {
  position: relative;
  width: 80%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal figure figcaption {
  width: 80%;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 25px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0 0 3px 3px;
}

html {
  scroll-behavior: smooth;
}

.max-titulo, .titulo, .sub-titulo, .mini-titulo {
  font-family: sans-serif;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.texto, a, span, li, input, label, strong, i, b, em {
  font-family: sans-serif;
  font-size: 1em;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.max-titulo {
  font-size: 2.5em;
}

.titulo {
  font-size: 2rem;
}

.sub-titulo {
  font-size: 1.5em;
}

.mini-titulo {
  font-size: 1em;
}

img {
  display: block;
  border-style: none;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contenedor {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 250;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp i {
  margin: auto;
  display: block;
  font-size: 30px;
  background-color: #25D366;
  padding: 10px;
  color: #ffffff;
  border-radius: 100%;
  transition: background-color 0.3s;
}
.whatsapp i:hover {
  background-color: #1c9c4b;
}

header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 250;
  height: 55px;
  padding: 5px 7px;
  transition: background-color ease-in-out 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
header .header__container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
header .header__container .logo {
  width: 50%;
  height: 100%;
}
header .header__container .logo img {
  width: 100%;
  height: 100%;
  max-width: 133px;
  max-height: 45px;
}
header .header__container .icon-menu i {
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  display: block;
  cursor: pointer;
  transition: color 0.3s;
}
header .header__container .icon-menu i:hover {
  color: rgba(0, 0, 0, 0.6666666667);
}
header .header__container .icon-menu.active > i {
  color: #d02323;
}
header .header__container .menu.active {
  left: 0;
}
header .header__container .menu {
  transition: ease-in-out 0.3s;
  position: fixed;
  top: 55px;
  left: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__container .menu .menu__list {
  width: 100%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-align: center;
}
header .header__container .menu .menu__list .menu__item {
  width: 100%;
  height: auto;
  list-style: none;
}
header .header__container .menu .menu__list .menu__item a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  display: block;
  width: 130px;
  margin: auto;
  height: 100%;
  padding: 5px 4px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}
header .header__container .menu .menu__list .menu__item a:hover {
  border-bottom: 1px solid #cc0066;
}

.sticky {
  background-color: #ffffff;
  box-shadow: 0px 5px 3px 5px rgba(0, 0, 0, 0.06);
}
.sticky .header__container .icon-menu i {
  color: #000000;
}
.sticky .header__container .menu {
  background-color: rgba(255, 255, 255, 0.6666666667);
}
.sticky .header__container .menu .menu__list .menu__item a {
  color: #000000;
}

.home {
  width: 100%;
  margin: auto;
  height: auto;
}
.home .banner {
  width: 100%;
  margin: auto;
  height: auto;
}
.home .banner .banner__img {
  width: 100%;
  margin: auto;
  height: 100dvh;
  max-height: 800px;
  overflow: hidden;
  position: relative;
}
.home .banner .banner__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .banner .banner__img::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6666666667);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.home .banner .banner__img .banner__img--txt {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 200;
  width: 100%;
  gap: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  height: 90%;
  margin-top: 55px;
}
.home .banner .banner__img .banner__img--txt .max-titulo {
  width: 100%;
  font-size: 3.5rem;
}
.home .banner .banner__img .banner__img--txt .max-titulo span {
  color: #d02323;
}
.home .banner .banner__img .banner__img--txt .titulo {
  font-size: 1.2rem;
  width: 100%;
  line-height: 30px;
}
.home .banner .banner__img .banner__img--txt a {
  display: block;
  background-color: #800;
  color: #ffffff;
  padding: 5px 18px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  border: 1px solid #fff;
}
.home .banner .banner__img .banner__img--txt a:hover {
  background-color: #ffffff;
  color: #800;
}

.service {
  width: 100%;
  margin: auto;
  height: auto;
  padding: 9px;
}
.service .titulo {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
}
.service .titulo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cc0066;
  height: 2px;
  width: 43%;
  border-radius: 20px;
}
.service .texto {
  line-height: 25px;
}
.service .service__contenedor {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.service .service__contenedor .service--item {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333);
}
.service .service__contenedor .service--item img {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 100%;
  transition: box-shadow 0.3s;
}
.service .service__contenedor .service--item img:hover {
  box-shadow: 3px 5px 9px 10px rgba(0, 0, 0, 0.1333333333);
}
.service .service__contenedor .service--item .sub-titulo {
  text-align: center;
  color: #cc0066;
  font-weight: 200;
  margin: 10px auto;
}
.service .service__contenedor .service--item .texto {
  text-align: center;
}
.service .service__contenedor .service--item a {
  display: block;
  margin: 8px auto;
  text-align: center;
  text-decoration: none;
  background-color: #cc0066;
  color: #ffffff;
  width: 55%;
  padding: 2px 2px;
  border-radius: 20px;
  transition: background-color 0.3s;
}
.service .service__contenedor .service--item a:hover {
  background-color: #ffffff;
  color: #cc0066;
}
.service .service__contenedor .service--item:nth-child(11) img {
  -o-object-position: bottom;
     object-position: bottom;
}
.service .service__contenedor .service--item:nth-child(10) img {
  -o-object-position: bottom;
     object-position: bottom;
}

.gallery {
  margin-top: 20px;
  padding: 5px;
  margin: auto;
  width: 100%;
  height: auto;
}
.gallery .titulo {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
}
.gallery .titulo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cc0066;
  height: 2px;
  width: 43%;
  border-radius: 20px;
}
.gallery .gallery__container {
  width: 100%;
  padding: 5px;
  margin: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 130px;
}
.gallery .gallery__container .gallery--item {
  position: relative;
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
  cursor: pointer;
}
.gallery .gallery__container .gallery--item figure {
  height: 100%;
  width: 100%;
  position: relative;
}
.gallery .gallery__container .gallery--item figure figcaption {
  position: absolute;
  bottom: 0;
  padding-left: 3px;
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  width: 100%;
}
.gallery .gallery__container .gallery--item figure .thumbnail {
  width: 100%;
  height: 100%;
}
.gallery .gallery__container .gallery--item:nth-child(4) {
  grid-column-start: span 2;
}
.gallery .gallery__container .gallery--item:nth-child(5) {
  grid-row-start: span 2;
}
.gallery .gallery__container .gallery--item:nth-child(9) {
  grid-column-start: span 2;
}
.gallery .gallery__container .gallery--item:nth-child(10) {
  grid-column-start: span 3;
}

.aboutUs {
  margin: 20px auto;
  width: 100%;
  height: auto;
  padding: 5px;
}
.aboutUs .titulo {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
}
.aboutUs .titulo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cc0066;
  height: 2px;
  width: 43%;
  border-radius: 20px;
}
.aboutUs .aboutUs__presentation {
  width: 100%;
  height: 100%;
  margin: auto;
}
.aboutUs .aboutUs__presentation .presentation__item {
  width: 100%;
  height: 100%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-content: center;
}
.aboutUs .aboutUs__presentation .presentation__item .presentation__item--img {
  width: 100%;
  height: 300px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}
.aboutUs .aboutUs__presentation .presentation__item .presentation__item--img img {
  width: 70%;
  height: 100%;
  margin: auto;
}
.aboutUs .aboutUs__presentation .presentation__item .presentation__item--txt {
  width: 100%;
}
.aboutUs .aboutUs__presentation .presentation__item .presentation__item--txt .sub-titulo {
  margin-bottom: 7px;
  letter-spacing: 2px;
}
.aboutUs .aboutUs__presentation .presentation__item .presentation__item--txt .texto {
  font-size: 1.1rem;
  line-height: 25px;
}
.aboutUs .aboutUs__video {
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.aboutUs .aboutUs__video .video {
  order: 2;
  width: 100%;
  height: 200px;
}
.aboutUs .aboutUs__video .video video {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.aboutUs .aboutUs__video .aboutUs__video--txt {
  order: 1;
}
.aboutUs .aboutUs__video .aboutUs__video--txt .sub-titulo {
  margin-bottom: 7px;
  letter-spacing: 2px;
}
.aboutUs .aboutUs__video .aboutUs__video--txt .texto {
  font-size: 1.1rem;
  line-height: 25px;
}
.aboutUs .aboutUs__opinions {
  width: 100%;
  margin: auto;
  height: auto;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 10px 0;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item .slider__item--img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  width: 100%;
  padding: 7px;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item .slider__item--img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  max-width: 200px;
  margin: auto;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item .slider__item--txt {
  padding-top: 7px;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item .slider__item--txt .sub-titulo {
  margin-bottom: 7px;
  letter-spacing: 2px;
  text-align: center;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item .slider__item--txt .texto {
  font-size: 1.1rem;
  line-height: 25px;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item .slider__item--txt .slider__item--calification {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.aboutUs .aboutUs__opinions .opinions__container .opinions__slider .slider__item .slider__item--txt .slider__item--calification span {
  color: #e9df22;
}/*# sourceMappingURL=estilos.css.map */